#!/usr/bin/env zsh

# Make vim the default editor.
export EDITOR='vim';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

export CODE_DIR=~/source

export GOPATH=~/go

# For development
export LOGFORMAT=TEXT
export DB_HOST=localhost
export RABBITMQ_USERNAME=admin
export RABBITMQ_PASSWORD=password
export RABBITMQ_HOST=localhost

export POSTGRES_HOST=localhost

export JAVA_HOME=/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home

# pipx for AWS SSO
export PIPX_HOME=/usr/local/pipx
export PIPX_BIN_DIR=/usr/local/bin