[alias]
    l = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    d = diff --patch-with-stat
    c = clone --recursive
    #ca = !git add -A && git commit -av
    ci = commit
    co = checkout
    go = checkout -B
    tags = tag -l
    remotes = remote -v
    undopush = push -f origin HEAD^:master
    pom = push origin master
    s = status -sb
    st = status
    branches = branch -a
	up = pull --rebase --autostash

[apply]
    # Detect whitespace errors when applying a patch
    # whitespace = fix

[core]
    # Use custom `.gitignore` and `.gitattributes`
    excludesfile = /etc/.gitignore
    attributesfile = ~/.gitattributes
    # Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
    #whitespace = space-before-tab,indent-with-non-tab,trailing-space
  	editor = /usr/bin/vim
    pager = delta --theme='Dracula' --dark
    hooksPath = /Users/peter/source/dotfiles/.git-hooks
[interactive]
     diffFilter = delta --color-only --dark
[color]
    # Use colors in Git commands that are capable of colored output when outputting to the terminal
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true
[help]
	autocorrect = 20
[rerere]
	enabled = 1
[push]
	default = upstream
[user]
	name = Peter Svensson
	email = peter@sparetimecoders.com
	signingkey = 3AB79F04E4DB3893
#[github]
  user = peter-stc
[pull]
	rebase = true
[commit]
	gpgsign = true

[credential "https://github.com"]
	peter-svensson = 9q9ITXTnwBqs
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@ssh.dev.azure.com:v3/skfdc/REP-SW/terraform-modules"]
  insteadOf = https://dev.azure.com/skfdc/REP-SW/_git/terraform-modules
[url "git@ssh.dev.azure.com:v3/skfdc/"]
  insteadOf = https://dev.azure.com/skfdc/
[fetch]
	prune = true
[init]
	defaultBranch = main
